li a {
	color: #F9FFFFE5;
	text-decoration: none;
    cursor: pointer; 
}

.header,
.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}

.header {
	padding: 0 2em;
}

.header__nav {
	line-height: 1px;
}

.header__text {
	display: inline-block;
	margin-right: 1em;
}

.name-link {
    font-size: xx-large;
    color: #F9FFFFE5; 
    text-decoration: none;
}

.anchor-resume {
	text-decoration: none;
	color: #F9FFFFE5; 
}


@media (max-width: 500px) {
	.name-link {
		font-size: large;
	}
	.header__text {
		/* border: 2px solid red;  */
		display: inline-block; 
		font-size: large;
	}
}

@media (max-width: 900px) {
	.name-link {
		font-size: larger;
	}
	.header__text {
		/* border: 2px solid red;  */
		display: inline-block; 
	}
}