.App {
	text-align: center;
}

li {
	list-style-type: none;
}

.main-title {
	opacity: 40%;
	color: #f9ffffe5;
}

.icons img {
	object-fit: cover;
	max-width: 2%;
}


@media (max-width: 500px) {
	.home-text {
		margin-right: 10px;
		margin-left: 10px;
	}
	.icons img {
		max-width: 5%;
	}
	.main-footer {
		margin-top: 5px; 
	}
}

@media (max-width: 900px) {
	.main-footer {
		display: flex;
		margin-top: 85px;
		flex-direction: column;
		justify-content: center;
	}
	.icons img {
		max-width: 5%;
	}
}
